.site-header {
    display: flex;
    justify-content: space-between; /* Puts space between the logo and navigation */
    align-items: center; /* Vertically centers the logo and nav */
    padding: 10px 20px;
    background-color: #ffffff; /* Example background color */
    border-bottom: 1px solid #ddd;
}

.logo-img {
    max-width: 100%;
    height: auto; /* Maintains aspect ratio */
}

nav a {
    margin-left: 15px; /* Adds space between navigation links */
    text-decoration: none;
    color: #333;
}

        #navbar img {
            width: 65px;
            height: 65px;
        }
        .secondary-nav {
    background-color: #f2f2f2;
    padding: 10px;
}

.secondary-nav ul {
    list-style-type: none;
    padding: 0;
}

.secondary-nav li {
    display: inline;
    margin-right: 15px;
}

.secondary-nav a {
    text-decoration: none;
    color: #333;
}

